/* Common styles */
* {margin: 0; padding: 0;}
html {font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family:Arial, sans-serif;}
body {padding:0; margin:0; font-size:100%; background:#fff;}

.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after{display:table;  line-height:0;  content:"";}
.clearfix:after{clear:both;}
.hide{display:none;}
.input-block-level{display:block;  width:100%;  min-height:30px;  -webkit-box-sizing:border-box;     -moz-box-sizing:border-box;          box-sizing:border-box;}
a:hover, a:active{outline:0;}
sub, sup{position:relative;  font-size:75%;  line-height:0;  vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
tr,img{page-break-inside:avoid;  }
img{max-width:100% !important;  }
a{color:#858585; font:11px Arial;}
a:hover, a:focus{text-decoration:none;}
.img-rounded{-webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;}

.container{width:960px;}

.grid3{width:725px;}
.grid2{width:215px;}
.grid1{width:140px;}

.span1{width:82.97872340425532%; *width:82.92553191489361%;}
.span2{width:88.44680851063829%; *width:88.39361702127659%;}
.span3{width:22.44680851063829%; *width:20.39361702127659%;}

.row-fluid{width:100%; *zoom:1;}
.row-fluid:before, .row-fluid:after{display:table;  line-height:0;  content:"";}
.row-fluid:after{clear:both;}

.row-fluid .offset1{margin-left:8.51063829787234%;  *margin-left:8.404255319148938%;}

.container{margin-right:auto; margin-left:auto; *zoom:1;}
.container:before, .container:after{display:table; line-height:0; content:"";}
.container:after{clear:both;}

.container-fluid{padding-right:20px; padding-left:20px; *zoom:1;}
.container-fluid:before, .container-fluid:after{display:table; line-height:0; content:"";}
.container-fluid:after{clear:both;}

.margin-none{margin: 0;}

.margin-left{margin-left: 25px;}
  .margin-left-x2{margin-left: 50px;}
  .margin-left-min{margin-left: 15px;}
  .margin-left-none{margin-left: 0 !important;}

.margin-right{margin-right: 25px;}
  .margin-right-x2{margin-right: 50px;}
  .margin-right-none{margin-right: 0 !important;}

.margin-top{margin-top:25px;}
  .margin-top-x2{margin-top:50px;}
  .margin-top-none{margin-top: 0 !important;}

.margin-bottom{margin-bottom:25px;}
  .margin-bottom-x2{margin-bottom:50px;}
  .margin-bottom-none{margin-bottom: 0 !important;}

.padding-top{padding-top: 25px;}
  .padding-top-x2{padding-top: 50px;}
  .padding-top-min{padding-top: 15px;}
  .padding-top-none{padding-top: 0 !important;}

.padding-left{padding-left: 25px;}
  .padding-left-x2{padding-left: 50px;}
  .padding-left-none{padding-left: 0 !important;} 

.padding-right{padding-right: 25px;}
  .padding-right-x2{padding-right: 50px;}
  .padding-right-none{padding-right: 0 !important;}

.padding-bottom{padding-bottom: 25px;}
  .padding-bottom-x2{padding-bottom: 50px;}
  .padding-bottom-none{padding-right: 0 !important;}

.type-block {display: block;}
.float-left {float: left;}
.float-right {float: right;}
.hide{display:none;}
ul{list-style: none;}
.small-font {font-size: 15px;}
.gray-text {color: #999;}
.dark-text {color: #333;}
.lightblue-text {color: #2fc7f9;}
.uppercase-text {text-transform: uppercase;}
.special-link a, .special-link {color: #21ccef;}
.border-dotted {border-bottom: 1px dotted #b4b4b4;}
.border-top {border-top: 1px solid #e5e5e5;}
small{font-size:85%;}
strong{font-weight:bold;}
em{font-style:italic;}
cite{font-style:normal;}

/* ------------------------------ Style of site ---------------------------- */

/* Header */
.logo {padding-left: 3px;}
.icq {background: url("img/icq.png") no-repeat left 3px;}

/* Styles of buttons */
.btn {padding: 1px 10px; border-radius: 3px; color: #fff; text-decoration: none; font-size: 60%; display: block;}
  .btn:hover {background-color: #0da3e9;}
  .btn.blue {background-color: #0a92d2;}
  .btn.gray {background-color: #999; padding: 1px 9px;}

/* Phone */
.phone {}
  .phone li {font-size: 105%; line-height: 22px;}
  .phone .icq {padding-left: 22px;}

/* Cart */  
.cart {}
  .cart-header label {font-size: 75%;}
  .cart-header span {font-size: 70%;}
  .cart-url ul {padding-top: 7px;}
    .cart-url ul li {float: left; line-height: 8px;}
      .cart-url ul li:first-child {border-right: 1px solid #c7e7f4; padding-right: 5px;}
      .cart-url ul li:last-child {padding-left: 5px; border-left: 1px solid #8fcfe9;}
      .cart-url a {font-size: 70%; text-shadow: -1px 0px 0px #e3f3f9; text-decoration: underline; display:block;}
        .cart-url a:hover {text-decoration: none;}

/* Main Navigation */        
.main-menu {border: 1px solid #d4d4d4; border-width: 1px 0 1px 0; margin-top: 10px;}
  .main-menu ul {overflow: hidden;}
    .main-menu li {float: left; padding: 18px 0; line-height: 10px;}
      .main-menu li a {border-right: 1px solid #9b9b9b; padding: 0 30px; text-decoration:none;}
      .main-menu li.current a, .menu li:hover a {color: #2c2c2c;}
  .main-menu li.last a {border-right: 0;}
  
/* Find */
.search {padding-top: 15px;}
  .search label {font-size: 70%;}
  .search input {border: 1px solid #e8e8e7; border-radius: 2px; padding: 3px 0px 3px 6px; color: #a4a4a4; min-height: 7px; width: 130px; font-size: 70%;}
  .search button {padding: 4px 8px; border-radius: 2px; background-color: #5a5a5a; border: none; color: #fff; font-size: 70%; cursor: pointer; margin-left: 5px;}
  
/* Slider */
.slider {border-bottom: 1px solid #d4d4d4;}

.block {width: 90%;}

/* Style for head of block */
.heading {padding-left: 5px; font-size: 90%; font-weight: 100;}

/* Categories of goods */
.categories {width: 100%; line-height: 22px;}
  .categories li {position: relative; list-style: inside disc; color: #b9b5b5;}
    .categories li a {text-decoration: underline; position: relative; top: -1px;}
    .categories li a:hover {text-decoration: none;}
  
/* Product */
.product {}
  .product-pic {border: 1px solid #ebebeb; text-align: center; padding: 8px 0;}
    .product-pic.full-image {padding: 0;}         
  .product-info {color: #787878; padding: 8px 0 0 3px;}
    .product-info .product-name {font-size: 90%;}
    .product-info .product-full {text-decoration: underline; font-size: 70%; color: #a1a1a1; margin-right: 15px;}
      .product-info .product-full:hover {color: #2fc7f9; text-decoration: none;}      
    .product-stars {padding: 8px 0;}
    .product-price {font-size: 90%; text-transform: none; font-weight: bold; color: #000; display: block; padding-bottom: 8px;}           
    
/* List of product */
.product-list {}
  .product-list .product {margin-right: 3.4%;}
      .product-list .product .product-name {font-size: 75%; line-height: 15px; height: 50px; overflow: hidden; margin: 10px 0 5px 0;}
      
/* Footer  */
#footer .container {background: url("img/paypal.png") 100% 37px no-repeat; }
                                                       
.foot-menu {}
  .foot-menu li {list-style: none; float: left; margin-right: 15px;}
    .foot-menu li a {font-size: 75%; text-decoration: none;}
      .foot-menu li a:hover, .foot-menu li.active a {color: #000;}
      
.foot-copy {font-size: 70%; color: #858585; padding-top: 30px;}  
  .foot-copy a {font-size: 95%;}
  
#scroller{bottom:140px;left:50%;position:fixed;z-index:9999;margin-left:-610px; }
  #scroller a{color:#BBB;font:11px/100% Arial,Helvetica,sans-serif;text-decoration:none;text-transform:uppercase;width:80px;display:block;text-align:center;-moz-transition:all 1s ease 0s;}
    #scroller a:hover{color:#000;}
  #scroller span{background:url("img/up-arrow.png") no-repeat scroll center center #DDD;width:80px;height:80px;display:block;margin-bottom:7px; border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;-webkit-border-radius:5px 5px 5px 5px;-khtml-border-radius:5px 5px 5px 5px;}
    #scroller a:hover span{background-color:#777;}
  #scroller a, #scroller span{-webkit-transition:all 1s ease 0s;-moz-transition:all 1s ease 0s;-ms-transition:all 1s ease 0s;-o-transition:all 1s ease 0s;transition:all 1s ease 0s;}
    #scroller span::selection{background:#2d5064;color:#fff;}::-moz-selection{background:#2d5064;color:#fff;}
    
/* Breadcrumbs */
.breadcrumbs {font-size: 90%; color: #000;}
  .breadcrumbs a {font-size: 90%; text-decoration: none; color: #000;}
  .breadcrumbs a:hover {color: #2fc7f9;}
  .breadcrumbs span {font-size: 90%;}