/* Common styles */
* {margin: 0; padding: 0;}
html {font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family:Arial, helvetica, sans-serif;}
body {padding:0; margin:0; font-size:100%; background:#fff;}

.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after{display:table;  line-height:0;  content:"";}
.clearfix:after{clear:both;}
.hide{display:none;}
.input-block-level{display:block;  width:100%;  min-height:30px;  -webkit-box-sizing:border-box;     -moz-box-sizing:border-box;          box-sizing:border-box;}
a:hover, a:active{outline:0;}
sub, sup{position:relative;  font-size:75%;  line-height:0;  vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
tr,img{page-break-inside:avoid;  }
img{max-width:100% !important;  }
a{color:#858585;  font:11px Arial;  text-decoration:none;}
a:hover, a:focus{color:#005580;  text-decoration:underline;}
.img-rounded{-webkit-border-radius:6px;     -moz-border-radius:6px;          border-radius:6px;}
.container{width:960px;}
.grid3{width:220px;}
.grid2{width:190px;}
.grid1{width:140px;}
.row-fluid{width:100%;  *zoom:1;}
.row-fluid:before, .row-fluid:after{display:table;  line-height:0;  content:"";}
.row-fluid:after{clear:both;}
.row-fluid [class*="span"]{display:block;  float:left;  width:100%;  min-height:30px;  margin-left:2.127659574468085%;  *margin-left:2.074468085106383%;  -webkit-box-sizing:border-box;     -moz-box-sizing:border-box;          box-sizing:border-box;}
.row-fluid [class*="span"]:first-child{margin-left:0;}
.row-fluid .controls-row [class*="span"] + [class*="span"]{margin-left:2.127659574468085%;}
.row-fluid .span12{width:100%;  *width:99.94680851063829%;}
.row-fluid .span11{width:91.48936170212765%;  *width:91.43617021276594%;}
.row-fluid .span10{width:82.97872340425532%;  *width:82.92553191489361%;}
.row-fluid .span9{width:74.46808510638297%;  *width:74.41489361702126%;}
.row-fluid .span8{width:65.95744680851064%;  *width:65.90425531914893%;}
.row-fluid .span7{width:57.44680851063829%;  *width:57.39361702127659%;}
.row-fluid .span6{width:48.93617021276595%;  *width:48.88297872340425%;}
.row-fluid .span5{width:40.42553191489362%;  *width:40.37234042553192%;}
.row-fluid .span4{width:31.914893617021278%;  *width:31.861702127659576%;}
.row-fluid .span3{width:23.404255319148934%;  *width:23.351063829787233%;}
.row-fluid .span2{width:14.893617021276595%;  *width:14.840425531914894%;}
.row-fluid .span1{width:6.382978723404255%;  *width:6.329787234042553%;}
.row-fluid .offset12{margin-left:104.25531914893617%;  *margin-left:104.14893617021275%;}
.row-fluid .offset12:first-child{margin-left:102.12765957446808%;  *margin-left:102.02127659574467%;}
.row-fluid .offset11{margin-left:95.74468085106382%;  *margin-left:95.6382978723404%;}
.row-fluid .offset11:first-child{margin-left:93.61702127659574%;  *margin-left:93.51063829787232%;}
.row-fluid .offset10{margin-left:87.23404255319149%;  *margin-left:87.12765957446807%;}
.row-fluid .offset10:first-child{margin-left:85.1063829787234%;  *margin-left:84.99999999999999%;}
.row-fluid .offset9{margin-left:78.72340425531914%;  *margin-left:78.61702127659572%;}
.row-fluid .offset9:first-child{margin-left:76.59574468085106%;  *margin-left:76.48936170212764%;}
.row-fluid .offset8{margin-left:70.2127659574468%;  *margin-left:70.10638297872339%;}
.row-fluid .offset8:first-child{margin-left:68.08510638297872%;  *margin-left:67.9787234042553%;}
.row-fluid .offset7{margin-left:61.70212765957446%;  *margin-left:61.59574468085106%;}
.row-fluid .offset7:first-child{margin-left:59.574468085106375%;  *margin-left:59.46808510638297%;}
.row-fluid .offset6{margin-left:53.191489361702125%;  *margin-left:53.085106382978715%;}
.row-fluid .offset6:first-child{margin-left:51.063829787234035%;  *margin-left:50.95744680851063%;}
.row-fluid .offset5{margin-left:44.68085106382979%;  *margin-left:44.57446808510638%;}
.row-fluid .offset5:first-child{margin-left:42.5531914893617%;  *margin-left:42.4468085106383%;}
.row-fluid .offset4{margin-left:36.170212765957444%;  *margin-left:36.06382978723405%;}
.row-fluid .offset4:first-child{margin-left:34.04255319148936%;  *margin-left:33.93617021276596%;}
.row-fluid .offset3{margin-left:27.659574468085104%;  *margin-left:27.5531914893617%;}
.row-fluid .offset3:first-child{margin-left:25.53191489361702%;  *margin-left:25.425531914893618%;}
.row-fluid .offset2{margin-left:19.148936170212764%;  *margin-left:19.04255319148936%;}
.row-fluid .offset2:first-child{margin-left:17.02127659574468%;  *margin-left:16.914893617021278%;}
.row-fluid .offset1{margin-left:10.638297872340425%;  *margin-left:10.53191489361702%;}
.row-fluid .offset1:first-child{margin-left:8.51063829787234%;  *margin-left:8.404255319148938%;}
[class*="span"].hide, .row-fluid [class*="span"].hide{display:none;}
[class*="span"].pull-right, .row-fluid [class*="span"].pull-right{float:right;}
.container{margin-right:auto;  margin-left:auto;  *zoom:1;}
.container:before, .container:after{display:table;  line-height:0;  content:"";}
.container:after{clear:both;}
.container-fluid{padding-right:20px;  padding-left:20px;  *zoom:1;}
.container-fluid:before, .container-fluid:after{display:table;  line-height:0;  content:"";}
.container-fluid:after{clear:both;}
small{font-size:85%;}
strong{font-weight:bold;}
em{font-style:italic;}
cite{font-style:normal;}

.margin-left{margin-left: 25px;}
.margin-left-x2{margin-left: 50px;}
.margin-right{margin-right: 25px;}
.margin-right-x2{margin-right: 50px;}
.margin-top{margin-top:25px;}
.margin-top-x2{margin-top:50px;}
.margin-bottom{margin-bottom:25px;}
.margin-bottom-x2{margin-bottom:50px;}
.padding-top{padding-top: 25px;}
.padding-top-x2{padding-top: 50px;}
.padding-left{padding-left: 25px;}
.padding-left-x2{padding-left: 50px;}
.padding-right{padding-right: 25px;}
.padding-right-x2{padding-right: 50px;}
.padding-bottom{padding-bottom: 25px;}
.padding-bottom-x2{padding-bottom: 50px;}

.type_block {display: block;}
.float-left {float: left;}
.float-right {float: right;}
ul{list-style: none;}
.small-font {font-size: 15px;}
.gray-text {color: #999;}
.lightblue-text {color: #2fc7f9;}
.uppercase-text {text-transform: uppercase;}
.special-link a, .special-link {color: #21ccef;}
.border-dotted {border-bottom: 1px dotted #b4b4b4;}

/* ------------------------------ Style of site ---------------------------- */
.logo {padding-left: 3px;}
.icq {background: url("img/icq.png") no-repeat left 3px;}

/* Phone */
.phone {}
  .phone li {font-size: 105%; line-height: 22px;}
  .phone .icq {padding-left: 22px;}

/* Cart */  
.cart {}
  .cart_header label {font-size: 75%;}
  .cart_header span {font-size: 70%;}
  .cart_url ul {padding-top: 7px;}
    .cart_url ul li {float: left; line-height: 8px;}
      .cart_url ul li:first-child {border-right: 1px solid #c7e7f4; padding-right: 5px;}
      .cart_url ul li:last-child {padding-left: 5px; border-left: 1px solid #8fcfe9;}
      .cart_url a {font-size: 70%; text-shadow: -1px 0px 0px #e3f3f9; text-decoration: underline; display:block; }
        .cart_url a:hover {text-decoration: none;}

/* Main Navigation */        
.menu {border: 1px solid #d4d4d4; border-width: 1px 0 1px 0; margin-top: 10px;}
  .menu ul {overflow: hidden;}
    .menu li {float: left; padding: 18px 0; line-height: 10px;}
      .menu li a {border-right: 1px solid #9b9b9b; padding: 0 30px;}
      .menu li.current a, .menu li:hover a {color: #2c2c2c; text-decoration:none;}
  .menu li.last a {border-right: 0;}
  
/* Find */
.search {padding-top: 15px;}
  .search label {font-size: 70%;}
  .search input {border: 1px solid #e8e8e7; border-radius: 2px; padding: 3px 0px 3px 6px; color: #a4a4a4; min-height: 7px; width: 130px; font-size: 70%;}
  .search button {padding: 4px 8px; border-radius: 2px; background-color: #5a5a5a; border: none; color: #fff; font-size: 70%; cursor: pointer; margin-left: 5px;}
  
/* Slider */
.slider {border-bottom: 1px solid #d4d4d4;}

/* Sidebar */
.block {}
.block span {font-size: 90%; text-transform: uppercase;}

  /* Категории */
  .categories {width: 70%; line-height: 22px; padding-left: 17px;}
    .categories li {position: relative;}
    .categories a {text-decoration: underline;}
    .categories a:hover {text-decoration: none;}
    .list_bg {background: url("img/bg_list.png") no-repeat; background-position: 0px 0px; position: absolute; width: 7px; height: 6px; top: 10px; left: -13px; line-height: 0px; font-size: 0px;}
        